<div>

  <div layout-gt-xs="row">

    <div flex-gt-xs="25" layout="column">
      <md-card>
        <md-card-title>Filter</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <section *ngFor="let e of exercises">
            <md-checkbox (change)="filterChanged(e, $event)">{{e.title}}</md-checkbox>
          </section>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>Send Event</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <send-event></send-event>
        </md-card-content>
      </md-card>
    </div>

    <div flex-gt-xs="75">
      <md-card>
        <md-card-title>Exercises</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <canvas baseChart
                  [datasets]="chartData$ | async"
                  [labels]="exerciseTitles$ | async"
                  [colors]="lineChartColors"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </md-card-content>
      </md-card>
    </div>

  </div>
</div>
